* {
  background-color: gainsboro;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

button {
  background-color: #3b42e5;
  color: #fff;
  font-size: 14px;
}

.modal-container {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}


